body, html {
    margin: 0;
    padding: 0;
}

#home-pic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('pipe-band.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    padding: 0;
    margin: 0;
    filter: blur(2px);
    position: absolute;
    z-index: -1;
}

nav img {
    margin: 5vh 5vh;
    z-index: 2;
    height: 10%;
    width: 10%;
    float: left;
}
a {
    text-decoration: None;
    color: whitesmoke;
}

ul {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

li {
    float: left;
    list-style: none;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    font-size: small;
}

#home h1 {
    z-index: 2;
    padding: 0;
    margin: 0;
    font-size: xxx-large;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
    position: relative;
    left: 20vw;
    top: 30vh;
}

#donate {
    color: whitesmoke;
}

